
# XML Autopilot
KASPI_AUTOPILOT_ENABLED=true
KASPI_AUTOPILOT_INTERVAL_MINUTES=60
KASPI_AUTOPILOT_STARTUP_DELAY_SECONDS=25
KASPI_AUTOPILOT_MAX_PRODUCTS_PER_RUN=5000
KASPI_AUTOPILOT_WAREHOUSE_ID=PP1
KASPI_AUTOPILOT_UPDATE_LOCAL_PRICE=true
KASPI_AUTOPILOT_DELAY_SECONDS=0
KASPI_XML_REBUILD_ON_PULL=true
KASPI_XML_STALE_AFTER_MINUTES=55
